/.env
.idea
node_modules

# Recordings
recordings/*
!recordings/.gitkeep

# Batch Processing
batch_processing/*
!batch_processing/.gitkeep
batch_process/*
!batch_process/.gitkeep

# Cache and Data
hf_cache/*
!hf_cache/.gitkeep
data/*
!data/.gitkeep

/dist/
/start-ollama.sh
/stop-ollama.sh
/oracle/setup.sh
/.env.prod
/oracle/expand_diskk.sh
/old_reference/prompts/analyst_prompt.txt
/old_reference/prompts/writer_prompt.txt
